<%- include('includes/head.ejs') %>
</head>

<%- include('includes/navigation.ejs') %>

    <h1>Sorry for Error !!!</h1>
    <p>We will fix it as soon as possible</p>
    <%- include('includes/end.ejs') %>